@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body{
    height: 700vh;
    max-width: 1280px;
    background: black;
    font-family: "Raleway",sans-serif;
    text-align: center;
    color: white;
}
h2,p{
    margin: 0;
}
h2{
    font-size: 3em;
}
.content{
    opacity: 0;
    position: relative;
    width: 70vw;
    margin: 0 auto;
    top: 40%;
    transition: 2s;
    p{
        font-size: 1.5em;
    }
}
.elebox{
    z-index: -1;
    position: relative;
    height: 800px;
    width: 100vw;
    background: url("../img/ele3.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    overflow: hidden;
}
.backele{
    
    position: absolute;
    background: url("../img/ele2.png") no-repeat;
    background-position: center bottom;
    width: 100vw;
    height: 853px;
}
.text{
    
    z-index: 1;
    margin: 0 auto;
    height: 200px;
    width: 75%;
    background: url("../img/title.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    
}
.foreele{
    margin-top: 50px;
    z-index: 2;
    height: 603px;
    width: 100vw;
    background: url("../img/ele1.png") no-repeat;
    position: absolute;
    background-position: center bottom;
    margin-top: 200px;
}
#morningbanner{
    z-index: 5;
    padding: 0;
    text-align: center;
    color: white;
    background: black;
    font-family: "Raleway", serif;
    width: 100vw;
    height: 100vh;  
}
#morning{
    background:url("../img/riseback.png") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
.texttwo{
    background: pink;
    background: url("../img/title2.png") no-repeat center center;
    width: 800px;
    height: 200px;
    position: relative;
    top: 30vh;
    z-index:3;
    margin: 0 auto;
    
}
.man{
    background: url("../img/risefront.png") no-repeat center center;
    width: 100vw;
    height: 80vh;
    position: relative;
    top: 30vh;
    z-index: 2;
}
.black{
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background: black;
    margin: 0 auto;
    transition: 2s;
}
.time{
    background: red;
    color: white;
    margin:0 auto;
    height: 100vh;
    width: 100vw;
}
#midday{
    background: url("../img/rain.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
#hoopoe{
    width: 30vw;
    height: 30vh;
    background: url("../img/hoopoe.png") no-repeat center center;
    background-size: contain;
    transition: 2s;
}
#parrot{
    margin-top: 5vh;
    margin-left: 70vw;
    height: 400px;
    width: 400px;
    background: url("../img/parrot.png") no-repeat center center;
    background-size: contain;;
    transition: 1.5s;
    
    
}
#woody{
    margin: 0 auto;
    width: 800px;
    height: 200px;
    background: url("../img/title3.png") no-repeat center center;
}
#eveningbanner{
    background: url("../img/lagos.png")no-repeat center center;
    background-attachment: fixed;
    transition: all 3s;
    h2{
        transition: 2s;
    }
}
#evening{
    height: 200vh;
    width: 100vw;
    margin-right: 0;
    justify-content: center;
    background: rgba(0,0,0,1);  
}
.parallax{
    position: absolute;
    perspective: 1px;
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.lists{
    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#codeblue{
    z-index: -3;
    background: url("../img/code1.png");
    transform: translateZ(0px);

}
#codegreen{
    z-index: -2;
    transform: translateZ(-1px) scale(2);
    background: url("../img/code2.png");

}
#codered{
    background: url("../img/code3.png");
    transform: translateZ(-1px) scale(2);
}
#blackbox{
    background: rgba(0,0,0,1);
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: 1.5s;
}
#titlefour{
    margin: 0 auto;
    margin-top: 70vh;
    position: absolute;
    left: 0;
    right: 0;
    width: 800px;
    height: 200px;
    background: url("../img/devs.png") no-repeat center center;
    transform: translateZ(1px);
}


#devs{
    margin: 0 auto;
    z-index:5;
    position: relative;
    height: 456px;
    width: 1280px;
    padding-top: 100vh;
    background: url("../img/andela.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
}
#differ{
    padding-top: 20vh;
}
.footie{
     
    text-align: center;
    background:black;
    color: white;
    height: 200px;
    width: 100vw;
    p{
        position: relative;
        padding-top: 150px;
        font-size: 1.2em;
        font-weight: 700;
    }
}
.footish{
    position: relative;
    margin: 0 auto;
    z-index: 10;
    width: 80vw;
    padding-top: 50px;
    ul{
        margin: 0 auto;
        width: 60vw;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        li{
            a{
                text-decoration: none;
                font-size: 1.5em;
                font-weight: 700;
            }
            a:hover{
                color: white;
            }
        }
    }
}

a:link{
    color: grey;
    transition: .5s;
}
a:hover{
    color: white;
}
a:visited{
    color: grey;
}
a:active{
    
}
@media only screen and (min-width: 1280px){
    
    .blackbar{
        background: black;
        height: 700vh;
        width: 12.5vw;
        z-index: 5;
    }
    #left{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }
    #right{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        
    }
}

